<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <h1>Welcome to the Library Database System!</h1>
            <h3>{{ book.getTitle }}</h3>
            <h4>{{ author.getFirstName }} {{ author.getLastName }}</h4>
            <h5>Current number of copies: {{ book.getCopies }}</h5>

            <form action="/book/{{ book.getId }}/edit" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for="new_title">Edit Book Title:</label>
                <input type="text" name="new_title" value="{{ book.getTitle }}">

                <button type="submit" class="btn btn-success">Submit Edit</button>
            </form>

            <form action="/book/{{ book.getId }}/edit_copies" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for="new_number_of_copies">Edit the number of copies owned for this book:</label>
                <input type="number" name="new_number_of_copies" value="">

                <button type="submit" class="btn btn-primary">Submit Copies</button>
            </form>
        {% include 'footer.html' %}
    </body>
</html>
